.container {
    border-radius: 5px;
    border: 0.2rem solid #4C4347;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FAFAFF;
    line-height: 1rem;
    aspect-ratio: 1;
    cursor: pointer;
}

.disabled {
    background-color: #615458;
    border: none;
}

.selected {
    border-bottom: 0.4rem solid #4C4347;
}

.correct {
    background-color: #3aa394;
    border: none;
}

.wrongPosition {
    background-color: #d3ad69;
    border: none;
}

.wrong {
    background-color: #312a2c;
    border: none;
}