.container {
    background-color: var(--keyboard-background);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    color: var(--text);
    font-size: 1rem;
    cursor: pointer;
}

.container img {
    width: 1rem;
}

.letterA {
    grid-column: 2 / span 3;
}

.letterZ {
    grid-column: 3 / span 3;
}

.backspace {
    grid-column: 30 / span 3;
}

.enter {
    grid-column: 25 / span 8;
    font-size: 0.9rem;
}

.correct {
    background-color: var(--green);
}

.wrongPosition {
    background-color: var(--yellow);
}

.wrong {
    background-color: var(--keyboard-disabled);
    color: var(--background);
}