.container {
    background-color: #4C4347;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    color: #FAFAFF;
    font-size: 1rem;
    cursor: pointer;
}

.container img {
    width: 1rem;
}

.letterA {
    grid-column: 2 / span 3;
}

.letterZ {
    grid-column: 3 / span 3;
}

.backspace {
    grid-column: 30 / span 3;
}

.enter {
    grid-column: 25 / span 8;
    font-size: 0.9rem;
}

.correct {
    background-color: #3aa394;
}

.wrongPosition {
    background-color: #d3ad69;
}

.wrong {
    background-color: #594B4F;
    color: #6E5C62;
}