.container {
    background-color: #6E5C62;
    width: 100vw;
    height: 100vh;
}

.gameArea{
    height: 100%;
    width: 100%;
}

.header{
    font-family: 'Mitr', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #FAFAFF;
    display: flex;
    align-items: center;
    justify-content: center;
}